li {
    color: rgb(1, 7, 2);
    background-color: lightblue;
    border-color: black;
    border-width: 3px, 10px;
    border-style: solid;
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: -3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.forecast {
    width: 10vh;
    height: 10vh;
    padding: 2em;
    background-color: lightblue;
    margin: 2em;
    border-color: black;
    border-style: solid;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {background-color: lightgray;
}
h3 {
    background-color: lightblue;
    border-color: black;
    border-style: ridge;
}

.ListMovie {
    text-align: center;
}